.containerBG{
    background-image: linear-gradient(rgb(179, 243, 245) 10% , rgba(0, 0, 0, 0) ), url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -1.5%;
    /* display: inline; */
    /* width: 100vw; */
    position: relative;
}
.h1BG {
    text-align: center;
    color: #092a55;
}
.h2BG{
    text-align: center;
    
}
.itemslist{
    margin-top: 20%;
    margin-left: -20%;
    margin-bottom: 3.7%;
}
.cart{
    margin-left: 100%;
    margin-top: 30%;
    width: 150%;
    height: 40%;
    /* border: solid; */
}
.addToCart {
    display: block;
    /* margin: 20px auto; */
    padding: 10px;
    font-size: 18px;
    background-color: #255592;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.addToCart:hover {
    background-color: #08285170;
    color: #092a55;
}
.formBG {
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}
.labelBG {
    display: block;
    margin-bottom: 10px;
    font-size: 140%;
    font-weight: bold;
    float: left;
    position: relative;
}
.itemid {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    /* margin-bottom: 20px; */
}



.itemq {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    /* margin-bottom: 20px; */
}

/* .cartListItem{

} */

.generateBill {
    display: block;
    /* margin: 20px auto; */
    padding: 10px;
    font-size: 18px;
    background-color: #255592;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.generateBill:hover {
    background-color: #08285170;
    color: #092a55;
}

#billContainer{
    text-align: center;
    margin: 2%;
    box-sizing: border-box;
    padding: 2%;
    border: solid rgba(15, 12, 12, 0.674) 1px;
    box-shadow: #0000002d 1em 1em 1em;
    border-radius: 0.5em;
    width: 60%;
    left: 20%;
    position: relative;
    vertical-align: middle;
}

#h2Bill{
    color: #092a55;
    font-size: 200%;
    border-bottom: #092a55 solid 2px;
}

#invoiceitems{
    font-size: 200%;
}

#place-order-button {
    display: block;
    /* margin: 20px auto; */
    padding: 10px;
    font-size: 18px;
    background-color: #255592;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 44%;
}
#place-order-button:hover {
    background-color: #08285170;
    color: #092a55;
}